<div id="CONTACT" class="contact-us">
    <div class="container">
        <div class="contact-intro">
            <div class="col-md-6 clients">
                <div class="johey">
                    <h4>Contact Us</h4>
                    <h3>FOR MORE INFORMATION</h3>
                    <div class="hril">
                        <div class="rounded-1">
                            <a href="#"><img src="{{ '/assets/images/rounded-2.png' | relative_url }}" class="img-responsive" alt=""/></a>
                        </div>
                        <form>
                            <input type="text" class="text" value="First name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First name...';}">
                            <input type="text" class="text" value="Last name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last name...';}">
                            <input type="text" class="text" value="Phone..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone...';}">
                            <input type="text" class="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}">
                            <textarea onfocus="if(this.value == 'Message...') this.value='';" onblur="if(this.value == '') this.value='Message...';" >Message...</textarea>
                            <div class="clearfix"></div>
                            <input type="submit" value="SUBMIT">
                        </form>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>