<div div id="FAQ" class="eros">
    <div class="container">
        <div class="col-md-pull-12 msg">
            <h3></h3>
            <h3></h3>
            <h3>About HotMine</h3>
            <p>Hotmine is one of the professional digital asset exchange platforms that provide trading services among major digital currencies for users from all over the world</p>
            <h3></h3>
            <h3></h3>
            <div class="services-word">
                <a href="#"><img src="{{ '/assets/images/line-3.png' | relative_url }}" class="img-responsive" alt=""/></a>
            </div>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3>Our Mission</h3>
            <p>We are firm believers of the core values of Bitcoin and Blockchain technology. We believe the core principles of Bitcoin, the blockchain, the distributed ledger and smart contracts can reshape the ways in which people trust each other. This transformation will eliminate barriers to transactions, increase the efficiency of transactions across society, and eventually have a significant impact on the global economy. Our mission is to provider a safer and more convenient blockchain assets exchange service; integrate world’s leading blockchain assets and construct a world-class blockchain assets exchange platform.</p>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <div class="services-word">
                <a href="#"><img src="{{ '/assets/images/line-3.png' | relative_url }}" class="img-responsive" alt=""/></a>
            </div>
            <h3></h3>
            <h3></h3>
            <h3></h3>
            <h3>Global Team</h3>
            <p>The core members of our team have all gained in-depth experience in both traditional financial and cryptocurrency industry. With successful entrepreneurial experience, experienced global investment consultation team and various cooperation partners, our platform is set to attract liquidity from various resources, which in turn provides support for the smooth operation of our platform as well.
                Core team members come from "Huobi","Hotbit","Otcbtc".They participated in the development of the core functions of exchanges.</p>
            <h3></h3>
            <h3></h3>
            <h3></h3>
        </div>
    </div>
</div>