<div class="header">
    <div class="higher">
        <div class="container">
            <div class="header-info">
                <div class="logo">
                    <h1><a href="#"><span>KIMCHEON</span></a></h1>
                </div>
                <div class="header-right">
                    <div class="navigation">
                        <span class="menu"> </span>
                        <ul>
                            <li><a class="scroll" href="#HOME" title="HOME"><span>HOME</span></a></li>
                            <li><a class="scroll" href="#PRICING " title="PRICING"><span>PRODUCTS</span></a></li>
                            <li><a class="scroll" href="#FAQ" title="FAQ"><span>ABOUT US</span></a></li>
                            <li><a class="scroll" href="#CONTACT" title="CONTACT"><span>CONTACT</span></a></li>

                        </ul>
                        <div class="clearfix"> </div>
                    </div>
                    <!--script-nav -->
                    <script>
                        $(document).ready(function(){
                            $("span.menu").click(function(){
                                $(".navigation ul").slideToggle(200);
                            });
                        });

                    </script>
                    <!--/script-nav -->
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div id="HOME" class="header-down">
        <div class="container">
            <div class=" col-md-12 vivamus">
                <p><font color="00ffc6">HOTMINE MINING IS OFFICIALLY LAUNCHED</font></p>
                <p><font color="00ffc6">4 METHODS EARN BOUNS MAKING MONEY EASIER</font></p>
                <p><font color="ffffff">Dividend Income</font></p>
                <p><font color="ffffff">The Incomes of Agents</font></p>
                <p><font color="ffffff">The Accumulated Fund Pool For Holding HTB</font></p>
                <p><font color="ffffff">The Accumulated Fund Pool For Gold Miners</font></p>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <div class="col-md-4 grid">

                </div>
                <div class="col-md-4 grid">

                </div>
                <div class="col-md-4 grid">
                    <button onclick="window.open('https://www.hotmine.cc/')" type="submit" style="background:url('{{ \'/assets/images/butten.png\' | relative_url }}') no-repeat; width:326px; height:80px;" class="form-control"></button>
                </div>

            </div>
        </div>
    </div>
</div>