<div id="PRICING" class="pricing">
    <div class="container">
        <div class="pricing-info">
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2></h2>
            <h2>OUR ADVANTAGE</h2>
        </div>
        <div class="services-word">
            <a href="#"><img src="{{ '/assets/images/line.png' | relative_url }}" class="img-responsive" alt=""/></a>
        </div>
        <div class="grids">
            <div class="col-md-4 grid">
                <span class="icon1"></span>
                <h2>Team of Top Level</h2>
            </div>
            <div class="col-md-4 grid">
                <span class="icon2"></span>
                <h2>Sustainable mining process</h2>
            </div>
            <div class="col-md-4 grid">
                <span class="icon3"></span>
                <h2>Super high income rate</h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="grids">
            <div class="col-md-4 grid">
                <span class="icon4"></span>
                <h2>Newly Digital mining</h2>
            </div>
            <div class="col-md-4 grid">
                <span class="icon5"></span>
                <h2>Zero Risk</h2>
            </div>
            <div class="col-md-4 grid">
                <span class="icon6"></span>
                <h2>Managed transactions within one click</h2>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>